
<div class="body">
    <div class="iniciar-sesion">
        <h1>LOGIN</h1>
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput>
        </mat-form-field>   
        <div style="margin-top: 5px;"></div>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput>
        </mat-form-field>
        <div style="margin-top: 5px;"></div>
        <button mat-flat-button color="warn">Ingresar</button>
          


    </div>

   
</div>
